@mixin t-fade($name: 't-fade', $duration: 450ms, $easing: ease, $delay: 0ms) {
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    transition: opacity $duration $easing $delay;
  }

  .#{$name}-enter-from,
  .#{$name}-leave-to {
    opacity: 0;
  }
}

@mixin t-slide(
  $name: 't-slide',
  $duration: 1500ms,
  $easing: ease,
  $delay: 0ms
) {
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: opacity $duration $easing $delay;
  }

  .#{$name}-enter-from,
  .#{$name}-leave-to {
    opacity: 0;
  }

  .#{$name}-enter-to,
  .#{$name}-leave-from {
    opacity: 1;
  }
}

@mixin t-legal(
  $name: 't-legal',
  $duration: 3000ms,
  $easing: ease,
  $delay: 0ms
) {
  .#{$name}-enter-active,
  .#{$name}-leave-active {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: opacity $duration $easing $delay;
  }

  .#{$name}-enter-from,
  .#{$name}-leave-to {
    opacity: 0;
    transform: translateY(-100%);
  }

  .#{$name}-enter-to,
  .#{$name}-leave-from {
    opacity: 1;
    transform: translateY(0);
  }
}
