:root {
  /* Colors */
  --black: rgb(0 0 0);
  --white: rgb(255 255 255);
  --link-color: rgb(0 0 255);
  --focus-color: rgb(0 140 255 / 20%);
  --selection-color: var(--focus-color);

  /* Button Contents */
  --s-close: '\00D7';
  --l-close: '\2715';
  --nav: '\2630';

  /* Typography */
  --fs-root: 0.625em;
  --lh-root: 1.25;

  /* Spacing */

  /* Use --blank-line for horizontal spacing of content elements */
  --blank-line: calc(var(--lh-root) * 1em);

  /* Use --gutter for vertical and horizontal spacing of layout elements */
  --gutter: 1rem;

  /* --gutter-m: 2rem;
  --gutter-l: 4rem; */

  --content-width: 70vw;

  /* Easing */

  /* https://cubic-bezier.com/#.55,0,.1,1 */
  --swift-out: cubic-bezier(0.55, 0, 0.1, 1);

  /* Durations */
  --xshort: 100ms;
  --short: 250ms;
  --medium: 300ms;
  --long: 350ms;
  --xlong: 750ms;
  --xxlong: 850ms;
  --xxxlong: 1500ms;

  /* Stacking Layers (z-index in central place)  */

  /* like dropdown lists, toggleable content e.g. info-section on mobile */
  --xs-dropdown: 100;
  --s-cover-image: 200;

  /* content above cover image on overview */
  --m-upper-content: 300;
  --l-header: 600;

  /* nav, filters */
  --xl-overlay: 700;
  --xxl-overlay: 800;

  /* --z-long: 350; */

  /* --z-: 750; */
}

/* Breakpoints have to be kept in sync with the ones defined in _breakpoints.scss */

/* @media (min-width: 48em) {
  :root {
    --gutter: 2rem;
  }
}

@media (min-width: 80em) {
  :root {
    --gutter: 4rem;
  }
} */
