:root {
  /* Colors */
  --black: rgb(0 0 0);
  --white: rgb(255 255 255);
  --white-90: rgb(255 255 255 / 90%);
  --grey: #f4f3ef;
  --yellow: #fcc100;
  --link-color: rgb(0 0 255);
  --focus-color: rgb(0 140 255 / 20%);
  --selection-color: var(--focus-color);
  --highlight-color: var(--yellow);

  /* Effects */
  --bg-blur: 20px;

  /* Unicode Icons */
  --s-close: '\2212';
  --s-open: '\002B';
  --l-close: '\2715';
  --s-arrow-right: '\2192';
  --nav: '\2630';

  /* Typography */
  --fs-root: 0.625em;
  --lh-root: 1.25;

  /* Spacing */

  /* Use --blank-line for horizontal spacing of content elements */
  --blank-line: calc(var(--lh-root) * 1em);
  --spacing-xxs: 0.25em;
  --spacing-xs: 0.5em;
  --spacing-s: 0.75em;
  --spacing-m: 1em;
  --spacing-l: 1.25em;
  --spacing-xl: 1.75em;

  /* Use --gutter for vertical and horizontal spacing of layout elements. padding for inside a component, gaps and margin for spaces between components (be aware of layout collapsing) */

  /* larger gutters are to be created via calc from base gutter to keep them maintainable */
  --gutter-base: 1rem; /* 10px */
  --gutter-s: 1.5rem; /* base gutter for mobile, 15px */
  --gutter-m: 2rem; /* base gutter for desktop, 20px */
  --gutter-l: 2.5rem; /* 25px */
  --gutter-xl: 3rem; /* 30px */

  /* specific vars for spacing */
  --content-width: 70vw;
  --title-width: 70%; /* percent cuz within already centered content */
  --accordion-title-spacing: var(--spacing-xxs);
  --page-spacing: 0 var(--gutter-s) var(--gutter-s) var(--gutter-s);

  /* Easing */

  /* https://cubic-bezier.com/#.55,0,.1,1 */
  --swift-out: cubic-bezier(0.55, 0, 0.1, 1);

  /* Durations */
  --xshort: 100ms;
  --short: 250ms;
  --medium: 300ms;
  --long: 350ms;
  --xlong: 750ms;
  --xxlong: 850ms;
  --xxxlong: 1500ms;

  /* Stacking Layers (z-index in central place)  */

  /* like dropdown lists, toggleable content e.g. info-section on mobile */
  --xs-dropdown: 100;
  --s-cover-image: 200;

  /* content above cover image on overview */
  --m-upper-content: 300;
  --l-header: 600;

  /* nav, filters */
  --xl-overlay: 700;
  --xxl-overlay: 800;

  /* --z-long: 350; */

  /* --z-: 750; */
}

/* Breakpoints have to be kept in sync with the ones defined in _breakpoints.scss */

@media (width >= 48em) {
  :root {
    --page-spacing: 0 var(--gutter-m) var(--gutter-m) var(--gutter-m);

    /* --gutter: 2rem; */
  }
}

/* @media (width >= 80em) {
  :root {
    --gutter: 4rem;
  }
}  */
