@import '~/assets/styles/_variables.css';

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/fonts/IBMPlexSerif-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  src: url('~/assets/fonts/IBMPlexSerif-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/fonts/IBMPlexSans-Regular.woff2') format('woff2');
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include fs-html;

  height: 100%;

  // https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
  // &:focus-within {
  //   scroll-behavior: smooth;
  // }
}

body {
  @include ff-regular;
  @include fs-body;

  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// https://www.joshwcomeau.com/css/custom-css-reset/#nine-root-stacking-context-10
// stylelint-disable-next-line selector-id-pattern
#__nuxt {
  height: 100%;
  isolation: isolate;
}

a {
  @include link-reset;
}

audio,
canvas,
img,
picture,
svg,
video {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-size: inherit;
  font-weight: inherit;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
}

h5,
h6 {
  font-size: 1em;
}

p,
li {
  // hyphens: auto;
  overflow-wrap: break-word;
}

ul,
ol {
  padding-inline-start: 1.25em;
}

em {
  // Before adjusting, make sure a matching webfont style is implemented
  // font-style: italic;
}

strong {
  // Before adjusting, make sure a matching webfont weight is implemented
  @include fw-bold;
}

sup,
sub {
  position: relative;
  font-size: 75%;
  vertical-align: baseline;
}

sup {
  top: -0.4em;
}

sub {
  top: 0.4em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea {
  @include input-default;
}

button {
  @include button-default;
}

::selection {
  background-color: var(--selection-color);
}

// TODO: mirror styles for ckeditor text fields and vice versa. corresponing file: site/modules/InputfieldCKEditor/contents-inline_custom.css

blockquote {
  margin-left: 2em;

  // font-size: 1em;

  > p {
    display: inline;
  }

  > p::before,
  > p::after {
    color: #fcc000;
  }

  > p::before {
    margin-right: 0.15em;
    content: '“';
  }

  > p::after {
    margin-left: 0.15em;
    content: '”';
  }
}

.highlight {
  padding: 1px 2px;
  background-color: #fcc000;
}

.footnote {
  padding: 1px 2px;
  background-color: #fcc000;
}
